//------------------------------------------------------------------------
//  $SVGs
//------------------------------------------------------------------------


.svg-container {
   position: relative;
   display: inline-block;
   height: 0;

   svg {
      position: absolute;
      top: 0;
      left: 0;
   }
}


//------------------------------------------------------------------------
//  $Kong
//------------------------------------------------------------------------


.kong {
   width: em(130);
   padding-top: em(260);

   @include breakpoint($m) {
      position: absolute;
      right: em(-60);
      bottom: em(-10);
      width: em(464);
      padding-top: em(940);
   }
}

.chimp__head {
   transform-origin: 50% 50%;
}


//------------------------------------------------------------------------
//  $Heels
//------------------------------------------------------------------------


.heels {
   width: em(130);
   padding-top: em(260);

   @include breakpoint($m) {
      position: absolute;
      top: 50%;
      margin-top: em(-302);
      width: em(299);
      padding-top: em(604);
   }
}

.heels__sweat {
   path {
      transform-origin: 50%;
      animation: sweat 1.5s linear infinite;

      &:first-child {
         display: none;
         animation-delay: 0.25s;
      }
   }
}

@keyframes sweat {
   0% {
      opacity: 0;
      transform: translate3d(0,-1.8em,0);
   }

   20% {
      opacity: 1;
   }

   35% {
      transform: translate3d(0,-2.2em,0);
   }

   70% {
      opacity: 1;
      transform: translate3d(0,0,0);
   }

   100% {
      opacity: 0;
   }
}


//------------------------------------------------------------------------
//  $Space
//------------------------------------------------------------------------


.space {
   width: em(130);
   padding-top: em(260);

   @include breakpoint($m) {
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: em(-326);
      width: em(552);
      padding-top: em(653);
   }
}


//------------------------------------------------------------------------
//  $Mountain
//------------------------------------------------------------------------


.mountain {
   width: em(130);
   padding-top: em(260);

   @include breakpoint($m) {
      position: absolute;
      left: em(-80);
      bottom: 0;
      width: em(676);
      padding-top: em(743);
   }
}


//------------------------------------------------------------------------
//  $Dog
//------------------------------------------------------------------------


.dog {
   width: em(130);
   padding-top: em(260);

   @include breakpoint($m) {
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: em(-276);
      width: em(342);
      padding-top: em(552);
   }
}


//------------------------------------------------------------------------
//  $Titanic
//------------------------------------------------------------------------


.titanic {
   width: em(130);
   padding-top: em(260);

   @include breakpoint($m) {
      position: absolute;
      top: 50%;
      left: em(-200);
      margin-top: em(-115);
      width: em(604);
      padding-top: em(230);
   }
}


//------------------------------------------------------------------------
//  $Dome
//------------------------------------------------------------------------


.dome {
   width: em(130);
   padding-top: em(260);

   @include breakpoint($m) {
      position: absolute;
      top: 50%;
      right: em(-120);
      margin-top: em(-110);
      width: em(672);
      padding-top: em(220);
   }
}