//------------------------------------------------------------------------
//  $Grid
//------------------------------------------------------------------------


.grid {
   @extend %clearfix;
   margin-left: em(-$gtr-half);
   margin-right: em(-$gtr-half);
}

.col {
   width: 100%;
   display: inline-block;
   vertical-align: top;
}

.col-gtr {
   padding: 0 em($gtr-half);
}