//------------------------------------------------------------------------
//  $Utility classes
//------------------------------------------------------------------------


.clearfix {
   *zoom: 1;
   &:before, &:after {
      content: " ";
      display: table;
   }
   &:after {
      clear: both;
   }
}

%jank {
   -webkit-backface-visibility: hidden;
   -webkit-perspective: 1000;
}


//------------------------------------------------------------------------
//  $Typography
//------------------------------------------------------------------------


.ta-c {
   text-align: center;
}


//------------------------------------------------------------------------
//  $Colours
//------------------------------------------------------------------------


.c-white { color: $white }
.c-black { color: $black }

