//------------------------------------------------------------------------
//  $Footer
//------------------------------------------------------------------------

.footer {
   @extend .ta-c;
   padding: 1em;
   color: $blue;
   background-color: $navy;

   a {
    text-decoration: none;
    color: $blue;
   }
}