//------------------------------------------------------------------------
//  $Typography
//------------------------------------------------------------------------


$base-font-size   : 16;
$base-line-height : 24;

$ff-primary   : "proxima-nova", sans-serif;
$ff-secondary : "jaf-bernino-sans-comp", sans-serif;

$fw-thin       : 100;
$fw-light      : 300;
$fw-normal     : 400;
$fw-semibold   : 600;
$fw-bold       : 700;


//------------------------------------------------------------------------
//  $Colours
//------------------------------------------------------------------------


$white: #fff;
$black: #000;

$blue: #277695;
$dark-blue: #1d5970;
$navy: #0F2D38;

$red: #FF573B;
$dark-red: #BF412C;


//------------------------------------------------------------------------
//  $Layout
//------------------------------------------------------------------------


$max-width : 960;
$gtr       : 30;
$gtr-half  : 15;
$cols      : 12;


//------------------------------------------------------------------------
//  $Media Queries
//------------------------------------------------------------------------


$xs : 300;
$s  : 480;
$m  : 768;
$l  : 1024;
$xl : 1280;


//------------------------------------------------------------------------
//  $zindex map
//------------------------------------------------------------------------


$zindex: (
   top:    500,
   bottom: 200
);