//------------------------------------------------------------------------
//  $Media Queries
//------------------------------------------------------------------------


@mixin breakpoint($breakpoint, $type: 'min') {
<<<<<<< HEAD
    @media only screen and (#{$type}-width: em($breakpoint)) {
        @content;
    }
}

@mixin retina($breakpoint) {
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: em($breakpoint)),
    only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: em($breakpoint)),
    only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: em($breakpoint)),
    only screen and (        min-device-pixel-ratio: 2)      and (min-width: em($breakpoint)),
    only screen and (                min-resolution: 192dpi) and (min-width: em($breakpoint)),
    only screen and (                min-resolution: 2dppx)  and (min-width: em($breakpoint)) {
      @content
    }
=======
   @media only screen and (#{$type}-width: em($breakpoint)) {
      @content;
   }
}

@mixin retina($breakpoint) {
   @media
   only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: em($breakpoint)),
   only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: em($breakpoint)),
   only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: em($breakpoint)),
   only screen and (        min-device-pixel-ratio: 2)      and (min-width: em($breakpoint)),
   only screen and (                min-resolution: 192dpi) and (min-width: em($breakpoint)),
   only screen and (                min-resolution: 2dppx)  and (min-width: em($breakpoint)) {
     @content
   }
>>>>>>> gh-pages
}


//------------------------------------------------------------------------
//  $IE7 Inline-Block
//------------------------------------------------------------------------


@mixin inline-block() {
<<<<<<< HEAD
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;

    .ie7 & {
        display: inline;
    }
=======
   display: -moz-inline-stack;
   display: inline-block;
   zoom: 1;

   .ie7 & {
      display: inline;
   }
>>>>>>> gh-pages
}


//------------------------------------------------------------------------
//  $Background Image Mixin
//------------------------------------------------------------------------


@mixin img-bg($filetype, $src, $size:100%) {

<<<<<<< HEAD
    @if $filetype == "svg" {
        background-image: url(#{$src}.png);
        .svg & { background-image: url(#{$src}.svg); }
    }

    @if $filetype == "png" {
        background-image: url(#{$src}.png);
        @media (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi) {
            background-image: url(#{$src}@2x.png);
            background-size: $size;
            .lt-ie9 & {
                background-image: url(#{$src}.png);
            }
        }
    }

    @if $filetype == "jpg" {
        background-image: url(#{$src}.jpg);
        @media (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi) {
            background-image: url(#{$src}@2x.jpg);
            background-size: $size;
            .lt-ie9 & {
                background-image: url(#{$src}.jpg);
            }
        }
    }
=======
   @if $filetype == "svg" {
      background-image: url(#{$src}.png);
      .svg & { background-image: url(#{$src}.svg); }
   }

   @if $filetype == "png" {
      background-image: url(#{$src}.png);
      @media (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi) {
         background-image: url(#{$src}@2x.png);
         background-size: $size;
         .lt-ie9 & {
            background-image: url(#{$src}.png);
         }
      }
   }

   @if $filetype == "jpg" {
      background-image: url(#{$src}.jpg);
      @media (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi) {
         background-image: url(#{$src}@2x.jpg);
         background-size: $size;
         .lt-ie9 & {
            background-image: url(#{$src}.jpg);
         }
      }
   }
>>>>>>> gh-pages

}