//------------------------------------------------------------------------
//  $Headings
//------------------------------------------------------------------------


h1,
.alpha {
   font: em(24) $ff-primary;

   @include breakpoint($m) {
      font-size: em(54);
   }
}

h2,
.beta {
   font: em(14) $ff-primary;
   text-transform: uppercase;
   letter-spacing: ls(200);
}

h3,
.gamma {
   font: em(18) $ff-primary;

   @include breakpoint($m) {
      font-size: em(24);
   }
}

h4,
.delta {
   font: em(16) $ff-primary;

   @include breakpoint($m) {
      font-size: em(18);
   }
}

