//------------------------------------------------------------------------
//  $Typography
//------------------------------------------------------------------------


br {
    display: none;
    font-size: 0;

    @include breakpoint($s) {
        display: block;
    }
}


//------------------------------------------------------------------------
//  $Text Sizes
//------------------------------------------------------------------------


.text-s {
    font-size: em(14);
}

.text-l {
    font-size: em(18);
}

